@import 'variables/mixin';
@import 'fonts';

body {
    text-align: center;
    font-family: 'Public Sans';
    margin: 0;
    background-image: url('../images/bg-tablet-pattern.svg'),
                      url('../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat,
                        no-repeat;
    background-size: 133%, 98%;
    background-position: 62px -6%, 209px 23%;
}

.checkbox {
    display: none;
}

.container {
    max-width: 950px;
    margin: auto;
    padding: 1rem;
}

.get_started-btn {
    display: none;
    border: none;
    background: hsl(12, 88%, 59%);
    color: #fff;
    font-size: 10px;
    padding: 0px 17px;
    border-radius: 31px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
}

p {
    opacity: 0.5;
    font-size: 14px;
}

@media (min-width: 375px) {
    body {
        background-image: url(../images/bg-tablet-pattern.svg), url(../images/bg-tablet-pattern.svg);
        background-repeat: no-repeat, no-repeat;
        background-size: 52%, 51%;
        background-position: 758px -14%, -436px 67%;
    }

    .get_started-btn {
        display: block;
    }
}